@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <textarea id="w3review" name="w3review" rows="15" cols="70">
    @ViewBag.TotalStudents
</textarea>
</div>
